/* RESET */
<<<<<<< HEAD

=======
>>>>>>> 4d7430a4848db846856a2e1ad40cda446952de7b
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e3a8a);
    color: rgb(248, 248, 248);
}

<<<<<<< HEAD

/* HEADER */

=======
/* HEADER */
>>>>>>> 4d7430a4848db846856a2e1ad40cda446952de7b
header {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
<<<<<<< HEAD
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
=======
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
>>>>>>> 4d7430a4848db846856a2e1ad40cda446952de7b
}

nav a {
    color: white;
    margin-left: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: 0.3s;
}

nav a:hover {
    background: #3b82f6;
}


/* TITLE */
<<<<<<< HEAD

=======
>>>>>>> 4d7430a4848db846856a2e1ad40cda446952de7b
.title {
    text-align: center;
    margin: 25px 0;
    color: #38bdf8;
}

<<<<<<< HEAD

/* CART */

=======
/* CART */
>>>>>>> 4d7430a4848db846856a2e1ad40cda446952de7b
.cart-container {
    max-width: 900px;
    margin: auto;
    padding: 10px;
}

<<<<<<< HEAD

/* CART CARD */

=======
/* CART CARD */
>>>>>>> 4d7430a4848db846856a2e1ad40cda446952de7b
.cart-card {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #1e293b;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
<<<<<<< HEAD
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
=======
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
>>>>>>> 4d7430a4848db846856a2e1ad40cda446952de7b
}

.product-img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 10px;
}

.info h3 {
    margin: 0;
    color: #f8fafc;
}

.price {
    color: #94a3b8;
}

.subtotal {
    color: #22c55e;
    font-weight: bold;
}

<<<<<<< HEAD

/* REMOVE BUTTON */

=======
/* REMOVE BUTTON */
>>>>>>> 4d7430a4848db846856a2e1ad40cda446952de7b
.remove-btn {
    background: #ef4444;
    padding: 8px 12px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
<<<<<<< HEAD
}

.remove-btn:hover {
    background: #dc2626;
}


/* EMPTY */

=======
}

.remove-btn:hover {
    background: #dc2626;
}

/* EMPTY */
>>>>>>> 4d7430a4848db846856a2e1ad40cda446952de7b
.empty {
    text-align: center;
    color: #94a3b8;
}

<<<<<<< HEAD

/* SUMMARY */

=======
/* SUMMARY */
>>>>>>> 4d7430a4848db846856a2e1ad40cda446952de7b
.summary {
    text-align: center;
    margin: 30px;
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
}

.summary span {
    color: #22c55e;
}

<<<<<<< HEAD

/* BUTTONS */

=======
/* BUTTONS */
>>>>>>> 4d7430a4848db846856a2e1ad40cda446952de7b
.checkout-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}

.checkout-btn:hover {
    background: #0ea5e9;
}

.continue-btn {
    display: inline-block;
    margin-left: 10px;
    color: #38bdf8;
    text-decoration: none;
}