<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Dashboard - MyShop DZ</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}">
</head>

<body>

    <!-- NAVBAR -->
    <header class="navbar">

        <h1>MYshop.DZ</h1>

        <input type="text" placeholder="Search products..." class="search">

        <nav class="nav-links">

            <a href="/">Home</a>

            <a href="{{ url_for('cart') }}">
            🛒 Cart ({{ session.get('cart', {})|length }})
        </a> {% if current_user.is_authenticated %}
            <a href="/logout">Logout</a> {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a> {% endif %}

        </nav>

    </header>

    <!-- CATEGORIES -->
    <div class="categories">

        <a href="{{ url_for('dash') }}" class="cat">All</a>

        <a href="/category/Phones" class="cat">Phones</a>

        <a href="/category/Laptops" class="cat">Laptops</a>

    </div>

    <!-- PRODUCTS -->
    <section class="products">

        {% for product in products %}
        <div class="card">

            <img src="{{ url_for('static', filename='image/' + product.image) }}">

            <h3>{{ product.name }}</h3>

            <p>{{ product.descripition }}</p>

            <p class="price">${{ product.price }}</p>

            <a href="{{ url_for('add_to_cart', product_id=product.id) }}">
                <button>Add to Cart</button>
            </a>

        </div>
        {% endfor %}

    </section>

</body>

</html>