<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyShop</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='sty.css')  }} ">

</head>

<body>

    <!-- 🔝 NAVBAR -->
    <header class="navbar">
        <div class="logo">MyShop</div>

        <input type="text" placeholder="Search for anything..." class="search">

        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">Categories</a>
            <a href="#">Deals</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </header>

    <!-- 🎯 HERO SECTION -->
    <section class="hero">
        <h1>Find Everything You Need</h1>
        <p>Best deals. Best prices. Fast delivery.</p>
        <button>Shop Now</button>
    </section>
    <!-- admin تحكم بمنتجات من خلال  -->
    <div class="منتجات">
        {% for product in products %}
        <div class="card">
            <img src="{{url_for('static', filename='image/' + product.image)}}">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p>${{ product.price }}</p>
            <button>Buy Now</button>
        </div>
        {% else %}
        <p>لا توجد منتجات</p>
        {% endfor %}
    </div>
    </a>
</body>

</html>