<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOG IN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>

    <div class="login-container">
        <h2>🔐 LOG IN</h2>
        <form method="POST"> {{form.hidden_tag()}}
            <br> {{form.username}}

            <br> {{form.password}}

            <br> {{form.submit}}

            <p>YOU DONT HAVE AN ACOUNT ? <a href="/register ">إنشاء حساب جديد</a></p>
    </div>

</body>

</html>